
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/*.content {
  width: 100% !important;
}*/

.container {
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 1200px) {
  .container {
    /*max-width: 1140px;*/
	max-width: 100%;
  }
}
