<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Create Invoice</div>

                    <div class="card-body">
                        <form v-on:submit.prevent="addInvoice">
                            <div class="form-group">
                                <label for="title">title:</label>
                                <input type="text" class="form-control" id="title" v-model="invoice.title" required>
                            </div>
                            <div class="form-group">
                                <label for="invoice_recipient">invoice_recipient:</label>
                                <input type="text" class="form-control" id="invoice_recipient" v-model="invoice.invoice_recipient" required>
                            </div>
                            <div class="form-group">
                                <label for="invoice_sender">invoice_sender:</label>
                                <input type="text" class="form-control" id="invoice_sender" v-model="invoice.invoice_sender" required>
                            </div>
                            <div class="form-group">
                                <label for="payment_deadline">payment_deadline:</label>
                                <input type="date" class="form-control" id="payment_deadline" v-model="invoice.payment_deadline" disabled required>
                            </div>
                            <div class="form-group">
                                <label for="total_tax_amount">total_tax_amount:</label>
                                <input type="number" class="form-control" id="total_tax_amount" min="0" step="0.01" v-model="invoice.total_tax_amount" disabled required>
                            </div>
                            <div class="form-group">
                                <label for="total_net_amount">total_net_amount:</label>
                                <input type="number" class="form-control" id="total_net_amount" min="0" step="0.01" v-model="invoice.total_net_amount" disabled required>
                            </div>
                            <div class="form-group">
                                <label for="total_gross_amount">total_gross_amount:</label>
                                <input type="number" class="form-control" id="total_gross_amount" min="0" step="0.01" v-model="invoice.total_gross_amount" disabled required>
                            </div>						  
                            <button type="submit" class="btn btn-default">Submit</button>
                            <router-link :to="{name: 'ListInvoices'}" class="btn btn-default">Cancel</router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {BASE_URL} from './constants.js';
export default {
    data(){
        return{
            invoice:{},
            //userid: 0	  
        }
    },
	
    created: function()
    {
        this.invoice.payment_deadline = this.formatDate();//console.log(this.invoice.payment_deadline);
        this.invoice.total_tax_amount = 0.00;
        this.invoice.total_net_amount = 0.00;
        this.invoice.total_gross_amount = 0.00;
        //this.getUserId();
    },	
	
    methods: {
        /*getUserId()
        {
            let uri = BASE_URL + 'api/userid';
            this.axios.get(uri).then((response) => {
                this.userid = response.data;
            });
        },*/
        addInvoice(){
            let uri = BASE_URL + 'api/invoices';
            //this.invoice.user_id = this.userid;
            this.axios.post(uri, this.invoice).then((response) => {
                if(!response.data.error){
                    //console.log(response.data);
                    this.$router.push({name: 'EditInvoice', params: { id: response.data.id }});
                } else {
                    alert(response.data.message);
                }
            })
            .catch((response) => {
                alert(response);
            });		
        },
	formatDate() {
            //let today = new Date();
            let newdate = new Date();
            newdate.setDate(newdate.getDate() + 30);

            let month = newdate.getMonth() + 1;
            let day = newdate.getDate();
            let year = newdate.getFullYear();

            if (month < 10) month = '0' + month;
            if (day < 10) day = '0' + day;

            return [year, month, day].join('-');
	}	
    }
}
</script>
