<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Create Item</div>

                    <div class="card-body">
                        <form v-on:submit.prevent="addItem">
                            <div class="form-group">
                                <label for="title">title:</label>
                                <input type="text" class="form-control" id="title" v-model="item.title" required>
                            </div>
                            <div class="form-group">
                                <label for="quantity">quantity:</label>
                                <input type="number" class="form-control" id="quantity" min="0" step="1" v-model="item.quantity" required>
                            </div>
                            <div class="form-group">
                                <label for="unit_price">unit_price:</label>
                                <input type="number" class="form-control" id="unit_price" min="0" step="0.01" v-model="item.unit_price" required>
                            </div>
                            <div class="form-group">
                                <label for="tax_rate">tax_rate:</label>
                                <input type="number" class="form-control" id="tax_rate" min="0" step="0.01" v-model="tax_rate" required>
                            </div>
                            <div class="form-group">
                                <label for="net_amount">net_amount:</label>
                                <input type="number" class="form-control" id="net_amount" min="0" step="0.01" v-model="net_amount" required>
                            </div>
                            <div class="form-group">
                                <label for="gross_amount">gross_amount:</label>
                                <input type="number" class="form-control" id="gross_amount" min="0" step="0.01" v-model="item.gross_amount" disabled required>
                            </div>
                            <div class="form-group">
                                <label for="tax_amount">tax_amount:</label>
                                <input type="number" class="form-control" id="tax_amount" min="0" step="0.01" v-model="item.tax_amount" disabled required>
                            </div>						  
                            <button type="submit" class="btn btn-default">Submit</button>
                            <router-link :to="{name: 'EditInvoice', params: { id: this.$route.params.id }}" class="btn btn-default">Cancel</router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {BASE_URL} from './constants.js';
export default {
    data(){
        return{
            item:{},
            userid: 0,
            net_amount: 0.00,
            tax_rate: 20.00
        }
    },
	
    watch: {
        net_amount: function () {
            this.item.net_amount = this.net_amount;
            this.item.tax_rate = this.tax_rate;		  
            this.item.gross_amount = Number(this.item.net_amount) + (Number(this.item.net_amount) * Number(this.item.tax_rate) / 100);//console.log(this.item.gross_amount + 'X');
            this.item.tax_amount = Number(this.item.net_amount) * Number(this.item.tax_rate) / 100;//console.log(this.item.tax_amount + 'Y');
        },
        tax_rate: function () {
            this.item.net_amount = this.net_amount;
            this.item.tax_rate = this.tax_rate;		  
            this.item.gross_amount = Number(this.item.net_amount) + (Number(this.item.net_amount) * Number(this.item.tax_rate) / 100);//console.log(this.item.gross_amount + 'X');
            this.item.tax_amount = Number(this.item.net_amount) * Number(this.item.tax_rate) / 100;//console.log(this.item.tax_amount + 'Y');
        }
    },

    created: function(){
        this.getUserId();
    },	  
	
    methods: {
        getUserId()
        {
            let uri = BASE_URL + 'api/userid';
            this.axios.get(uri).then((response) => {
                this.userid = response.data;
            });
        },	
        addItem(){
            let uri = BASE_URL + 'api/items';
            this.item.user_id = this.userid;
            this.item.invoice_id = this.$route.params.id;//console.log(this.item);
            this.axios.post(uri, this.item).then((response) => {
                if(!response.data.error){
                    this.$router.push({name: 'EditInvoice', params: { id: this.$route.params.id }});
                } else {
                    alert(response.data.message);
                }
            })
            .catch((response) => {
                alert(response);
            });		
        }
    }
}
</script>
