<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Edit Invoice</div>

                    <div class="card-body">
                        <form v-on:submit.prevent="updateInvoice">
                            <div class="form-group">
                                <label for="title">title:</label>
                                <input type="text" class="form-control" id="title" v-model="invoice.title" required>
                            </div>
                            <div class="form-group">
                                <label for="invoice_recipient">invoice_recipient:</label>
                                <input type="text" class="form-control" id="invoice_recipient" v-model="invoice.invoice_recipient" required>
                            </div>
                            <div class="form-group">
                                <label for="invoice_sender">invoice_sender:</label>
                                <input type="text" class="form-control" id="invoice_sender" v-model="invoice.invoice_sender" required>
                            </div>
                            <div class="form-group">
                                <label for="payment_deadline">payment_deadline:</label>
                                <input type="date" class="form-control" id="payment_deadline" v-model="invoice.payment_deadline" disabled required>
                            </div>
                            <div class="form-group">
                                <label for="total_tax_amount">total_tax_amount:</label>
                                <input type="number" class="form-control" id="total_tax_amount" min="0" step="0.01" v-model="invoice.total_tax_amount" disabled required>
                            </div>
                            <div class="form-group">
                                <label for="total_net_amount">total_net_amount:</label>
                                <input type="number" class="form-control" id="total_net_amount" min="0" step="0.01" v-model="invoice.total_net_amount" disabled required>
                            </div>
                            <div class="form-group">
                                <label for="total_gross_amount">total_gross_amount:</label>
                                <input type="number" class="form-control" id="total_gross_amount" min="0" step="0.01" v-model="invoice.total_gross_amount" disabled required>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                            <router-link :to="{name: 'ListInvoices'}" class="btn btn-default">Cancel</router-link>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--<invoice-items :invoice_id="this.$route.params.id"></invoice-items>-->
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Items</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <router-link :to="{name: 'CreateItem', params: { id: this.$route.params.id }}" class="btn btn-primary">Create Item</router-link>
                            </div>
                        </div><br />

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>Title</td>
                                <td>Updated at</td>
                                <td>Actions</td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in invoice.items">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.updated_at }}</td>
                                    <td><router-link :to="{name: 'EditItem', params: { id: item.id }}" class="btn btn-primary">Edit</router-link></td>
                                    <td><button class="btn btn-danger" v-on:click="deleteItem(item.id)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>		
    </div>
</template>

<script>
    import {BASE_URL} from './constants.js';
	//import ListItems from './ListItems.vue';
    export default{
        data(){
            return{
                invoice:{},
                //items:{},				
                //total_tax_amount: 0.00,
                //total_net_amount: 0.00,
                //total_gross_amount: 0.00,
                refresh: false
                //components: {}
            }
        },
		
	  watch: {
		refresh: function () {
		  //this.items = this.getItems(this.invoice.id);
		  /*this.total_tax_amount = 0;
		  this.total_net_amount = 0;
		  this.total_gross_amount = 0;*/		  
		  this.getInvoice();
		}
	  },		
		
		/*components: {
			'invoice-items': ListItems
		},*/		

        created: function(){
            this.getInvoice();			
        },

        methods: {
            getInvoice()
            {
              let uri = BASE_URL + `api/invoices/${this.$route.params.id}`;
                this.axios.get(uri).then((response) => {
                    this.invoice = response.data;//console.log(this.invoice);
					this.invoice.payment_deadline = this.formatDate(this.invoice.created_at);//console.log(this.invoice.payment_deadline);					
					//this.getItems(this.invoice.id);
                });
            },

            updateInvoice()
            {
              let uri = BASE_URL + 'api/invoices/' + this.$route.params.id;
			  /*this.invoice.total_tax_amount = this.total_tax_amount;
			  this.invoice.total_net_amount = this.total_net_amount;
			  this.invoice.total_gross_amount = this.total_gross_amount;*/
                this.axios.patch(uri, this.invoice).then((response) => {
					if(!response.data.error){
						this.$router.push({name: 'ListInvoices'});
					} else {
						alert(response.data.message);
					}  
                })
				.catch((response) => {
					alert(response);
				});
            },
			
            /*getItems(invoice_id)
            {
                let uri = BASE_URL + 'api/items/?invoice_id=' + invoice_id;
                this.axios.get(uri).then((response) => {
                    this.items = response.data;//this.components = response.data;//console.log(this.components);
					//this.items.forEach(this.setTotals);
                });
            },*/
			
			/*setTotals(item, index) {
				this.total_tax_amount += Number(item.tax_amount);
				this.total_net_amount += Number(item.net_amount);
				this.total_gross_amount += Number(item.gross_amount);			
			},*/

			formatDate(date) {
				//let today = new Date(date);
				let newdate = new Date(date);
				newdate.setDate(newdate.getDate() + 30);//console.log(newdate);
				
				let month = newdate.getMonth() + 1;//console.log(month);
				let day = newdate.getDate();//console.log(day);
				let year = newdate.getFullYear();

				if (month < 10) month = '0' + month;
				if (day < 10) day = '0' + day;

				return [year, month, day].join('-');
			},

            deleteItem(id)
            {
				if (confirm("Do you really want to delete it?")) {
				  let uri = BASE_URL + `api/items/${id}`;
				  this.invoice.items.splice(id, 1);
				  this.axios.delete(uri);
				  this.refresh = !this.refresh;
				}				
            }			
        }
    }
</script>
