<template>    
	<div>
        <h1>Invoices</h1>

        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <router-link :to="{ name: 'CreateInvoice' }" class="btn btn-primary">Create Invoice</router-link>
          </div>
        </div><br />

        <table class="table table-hover">
            <thead>
            <tr>
                <td>ID</td>
                <td>Invoice Name</td>
                <td>Invoice Logo</td>
                <td>Actions</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="invoice in invoices">
                    <td>{{ invoice.id }}</td>
                    <td>{{ invoice.name }}</td>
                    <td>{{ invoice.logo }}</td>
                    <td><router-link :to="{name: 'EditInvoice', params: { id: invoice.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" v-on:click="deleteItem(invoice.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {BASE_URL} from './constants.js';
    export default {
        data(){
            return{
                invoices: []
            }
        },

        created: function()
        {
            this.fetchInvoices();
        },

        methods: {
            fetchInvoices()
            {
              let uri = BASE_URL + 'admin/invoices';
              this.axios.get(uri).then((response) => {
                  this.invoices = response.data;
              });
            },
            deleteItem(id)
            {
				if (confirm("Do you really want to delete it?")) {
				  let uri = BASE_URL + `admin/invoices/${id}`;
				  this.invoices.splice(id, 1);
				  this.axios.delete(uri);
				  window.location.reload(true);
				}				
            }
        }
    }
</script>
