<template>
    <!--<div class="container">-->
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Items</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <router-link :to="{name: 'CreateItem', params: { id: userid }}" class="btn btn-primary">Create Item</router-link>
                            </div>
                        </div><br />

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Title</td>
                                    <td>Updated at</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in items">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.updated_at }}</td>
                                    <td><router-link :to="{name: 'EditItem', params: { id: item.id }}" class="btn btn-primary">Edit</router-link></td>
                                    <td><button class="btn btn-danger" v-on:click="deleteItem(item.id)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
</template>

<script>
import {BASE_URL} from './constants.js';
export default {
    data(){
        return{
            items: []
        }
    },
		
    props: ['invoice_id'],
		
    created: function()
    {
        this.fetchItems();
    },

    methods: {
        fetchItems()
        {
            let uri = BASE_URL + 'api/items?invoice_id=' + this.invoice_id;
            this.axios.get(uri).then((response) => {
                this.items = response.data;
            });
        },
        deleteItem(id)
        {
            if (confirm("Do you really want to delete it?")) {
                let uri = BASE_URL + `api/items/${id}`;
                this.items.splice(id, 1);
                this.axios.delete(uri);
                this.$router.push({name: 'EditItem', params: { id: item.id }});//window.location.reload(true);
            }				
        }
    }
}
</script>

