<template>    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">Invoices</div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <router-link :to="{name: 'CreateInvoice'}" class="btn btn-primary">Create Invoice</router-link>
                            </div>
                        </div><br />

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Title</td>
                                    <td>Updated at</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="invoice in invoices">
                                    <td>{{ invoice.id }}</td>
                                    <td>{{ invoice.title }}</td>
                                    <td>{{ invoice.updated_at }}</td>
                                    <td><router-link :to="{name: 'EditInvoice', params: { id: invoice.id }}" class="btn btn-primary">Edit</router-link></td>
                                    <td><button class="btn btn-danger" v-on:click="deleteInvoice(invoice.id)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <span>Page {{current_page}} of {{last_page}}</span>
                            &nbsp;
                            <button color="primary" :disabled="prev_page_url === null" v-on:click="loadInvoicesUrl(prev_page_url)">Back</button>
                            &nbsp;
                            <button color="warn" :disabled="next_page_url === null" v-on:click="loadInvoicesUrl(next_page_url)">Forward</button>
                            &nbsp;
                            <span>Displayed {{Number(to) > 0 ? to - from + 1 : 0}} rows of {{total}} (from {{from}} to {{to}})</span>
                            &nbsp;
                            <input type="number" min="1" step="1" placeholder="Page" v-model="goto">
                            &nbsp;
                            <button color="warn" v-on:click="loadInvoicesPage(goto)">Go</button>
                        </div>						
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {BASE_URL} from './constants.js';
export default {
    data(){
        return{
            invoices: [],
            refresh: false,
            current_page: 0,
            first_page_url: '',
            from: 0,
            last_page: 0,
            last_page_url: '',
            next_page_url: '',
            per_page: 0,
            prev_page_url: '',
            to: 0,
            total: 0,
            goto: 0
        }
    },
		
    watch: {
        refresh: function () {
            this.invoices = this.fetchInvoices();
        }
    },		

    created: function()
    {
        this.fetchInvoices();
    },

    methods: {
        fetchInvoices()
        {
            let uri = BASE_URL + 'api/invoices';
            this.axios.get(uri).then((response) => {
                this.invoices = response.data.data;
                this.current_page = response.data.current_page;
                this.first_page_url = response.data.first_page_url;
                this.from = Number(response.data.from);
                this.last_page = response.data.last_page;
                this.last_page_url = response.data.last_page_url;
                this.next_page_url = response.data.next_page_url;
                this.per_page = response.data.per_page;
                this.prev_page_url = response.data.prev_page_url;
                this.to = Number(response.data.to);
                this.total = response.data.total;
                this.goto = response.data.current_page;				  
            });
        },
        loadInvoicesUrl(page_url)
        {
            let uri = page_url;
            this.axios.get(uri).then((response) => {
                this.invoices = response.data.data;
                this.current_page = response.data.current_page;
                this.first_page_url = response.data.first_page_url;
                this.from = Number(response.data.from);
                this.last_page = response.data.last_page;
                this.last_page_url = response.data.last_page_url;
                this.next_page_url = response.data.next_page_url;
                this.per_page = response.data.per_page;
                this.prev_page_url = response.data.prev_page_url;
                this.to = Number(response.data.to);
                this.total = response.data.total;
                this.goto = response.data.current_page;
            });			
        },
        loadInvoicesPage(goto)
        {
            let uri = BASE_URL + 'api/invoices?page=' + goto;
            this.axios.get(uri).then((response) => {
                this.invoices = response.data.data;
                this.current_page = response.data.current_page;
                this.first_page_url = response.data.first_page_url;
                this.from = Number(response.data.from);
                this.last_page = response.data.last_page;
                this.last_page_url = response.data.last_page_url;
                this.next_page_url = response.data.next_page_url;
                this.per_page = response.data.per_page;
                this.prev_page_url = response.data.prev_page_url;
                this.to = Number(response.data.to);
                this.total = response.data.total;
                this.goto = response.data.current_page;				  
            });			
        },
        deleteInvoice(id)
        {
            if (confirm("Do you really want to delete it?")) {
                let uri = BASE_URL + `api/invoices/${id}`;
                this.invoices.splice(id, 1);
                this.axios.delete(uri);
                this.refresh = !this.refresh;
            }				
        }
    }
}
</script>
